html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.blue-link{
  text-decoration: none;
  color: #33a1ff;
}

.button {
  background: #33a1ff ;
  color: white;
  border: none;
}

.gray-border{
  border: 0.05rem solid #d8d8d8;
}
.page-wrapper {
    display: flex;
    /*background: #a911e8;*/
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-family: Tahoma, sans-serif;
}

.margin-box{
  margin-left: 8.5%;
  margin-right: 8.5%;
  width: 100%;
}

.top-banner {
  display: flex;
  background: #fa6938;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 100%;

}

.top-banner-content{
  display: flex;
  flex-direction: row;
  padding: 0.6rem 0;
  align-items: center;
  width: 75%;
}

.top-banner-item {
  display: flex;
  /*background: #56e068;*/
  width: 15%;
  align-items: flex-start;
  justify-content: space-around;
  color: white;
  font-size: 0.9rem;
  text-shadow: 0 0.03rem #5c5c5c;
}

.free-shipping {
  background: #c7532c;
  padding: 0.2rem 0.3rem;
  font-weight: 100;
  width: 6rem;
  font-size:0.75rem;
  border-radius: 0.2rem;
  text-shadow: unset;
}

.navbar {
  /*background: #18604f;*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar-item {
  /*background: #b3d966;*/
  display: flex;
}

.logo {
  /*background: #951729;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 8rem;
  flex-direction: row;

}

.logo-img {
  display: flex;
  width: 8rem;
}

.categories {
  /*background: #1ce39b;*/
  display: flex;
  flex-basis: 45%;
  justify-content: space-around;
  margin-left: -4rem;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 0.5rem;
}

.category-text {
  font-size: 1.6rem;
  font-weight: 100;
  color: #5c5c5c;
  margin-top: 0.3rem;
  margin-bottom: 0.1em;
}

.category-caret {
  font-size: 1rem;
  color: #fafafa;
}

.shopping-tools {
  /*background: #fe3808;*/
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
}

.account-tools {
  /*background: #43f06e;*/
  display: flex;
  flex-basis: 24%;
  justify-content: flex-end;
  text-align: end;
}

.login {
  flex-basis: 25%;
  color: #c6c6c6;
  font-size: 0.8rem;
  margin-bottom: -0.3rem;
  margin-top: 1rem;
}

.cart-and-search{
  /*background: #76e732;*/
  display: flex;
  flex-basis: 50%;
  justify-content: flex-start;
}

.shopping-cart {
  /*background: #127bd7;*/
  display: flex;
  justify-content: flex-start;
  flex-basis: 40%
}

.cart-text {
  /*background: #4399d7;*/
  display: flex;
  width: 70%;
  border-right: none;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.cart-items {
  /*background: #01c16f;*/
  display: flex;
  width: 30%;
  border-left: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fa-caret-left{
  color: #d8d8d8;
}

.fa-square {
  color: #d8d8d8;
}

.search-bar-box {
  /*background: #df8ae7;*/
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;
}

.search-bar {
  width: 100%;
  font-size: 1rem;
}

.attract-box {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-bottom: 3rem;
  border-top: 0.1rem solid #d8d8d8;
  border-bottom: 0.1rem solid #d8d8d8;
}

.attract-box-ties {
  /*background: #d7c851;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tie-box {
  display: flex;
  flex-direction: column;
  flex-basis: 6.5rem;
}

.tie-box-img {
  /*background: #810e9d;*/
  margin: auto;
}

.tie-img {
  display: flex;
  width: 100%;
}

.tie-box-text {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  /*background: #0f6f65;*/
}

.attract-box-text {
  /*background: #c27f61;*/
  display: flex;
  justify-content: center;
}

.slogan {
  /*background: #ca80eb;*/
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 3.8rem;
  font-weight: 100;
}

.accessories-box {
  /*background: #d101f7;*/
  display: flex;
  flex-basis: 100%;
}

.accessories {
  /*background: #140a7a;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.accessories-item {
  /*background: #d5457c;*/
  flex-basis: 21rem;
  position: relative;
  margin: 0.5rem;
}

.accessory-img-box {
  /*background: #706841;*/
  width: 100%;
}

.accessory-img {
  /*background: #759c7e;*/
  width: 100%;
}

.accessory-text {
  text-align: right;
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.history-box {
  /*background: #3556af;*/
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.history-text {
  /*background: #823f87;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.history {
  text-align: center;
}

.more-story {
  text-align: center;
}

.news {
  /*background: #3591aa;*/
  display: flex;
  flex-basis: 100%;
  border-top: 0.1rem solid #d8d8d8;
  padding: 3rem 0;
}
.news-box {
  /*background: #251c88;*/
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-item {
  /*background: #c00fc1;*/
  display: flex;
  flex-direction: column;
  width: 14rem;
  margin: 0 auto;
}

.news-item-top {
  /*background: #f9db1f;*/
  display: flex;
}

.news-item-heading {
  /*background: #9871b1;*/
  display: flex;
  width: 100%;
  margin-bottom: 3%;
  margin-top: 15%;
}

.news-item-mid {
  /*background: #40a41f;*/
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  flex-basis: 63%
}

.second-mid{
  margin-top: 2rem;
}

.news-img-box {
  margin: auto;
  width: 100%;
}

.news-img {
  width: 100%;
}

.social-link-section{
  /*background: #bfd416;*/
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-direction: row;
}

.social-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  text-decoration: none
}

.fa-facebook {
  color: #111cb9;
}

.fa-pinterest-p {
  color: #d03d3d;
}

.fa-twitter {
  color: #17bedb;
}

.news-item-bottom {
  /*background: #dd8f7d;*/
  display: flex;
  width: 100%;
}

.email-subscribe {
  /*background: #011caa;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.email-input {
  width: 90%;
  align-self: center;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 0.3rem solid #f4f4f4;
  border-radius: 0.3rem;
}

.subscribe {
  width: 40%;
  font-size: 0.7rem;
  padding: 0.5rem 0.1rem;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
}

.news-text {
  width: 100%;
  font-size: 0.79rem;
  margin: 0;
}

.footer {
  background: #f4f4f4;
  display: flex;
  flex-basis: 100%;
  border-top: 0.1rem solid #d8d8d8;
}

.footer-box {
  /*background: #6d6ecd;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-links {
  /*background: #b1857c;*/
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  justify-content: space-between;
}

.footer-links-top {
  /*background: #c6a9c8;*/
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.footer-link-section {
  /*background: #5543fb;*/
  display: flex;
  flex-direction: column;
}

.footer-link-header {
  font-size: 0.9rem;
}

.footer-link {
  font-size: 0.8rem;
  text-decoration: none;
  color: #5c5c5c;
}

.footer-links-bottom {
  /*background: #af6d25;*/
  display: flex;
  flex-basis: 10%;
  font-size: 0.6rem;
  color: #5c5c5c;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.credits-link {
  text-decoration: none;
  color: #5c5c5c;
}

.footer-contact {
  /*background: #f260b8;*/
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
  align-items: center;
}

.contact-box {
  background: #a2afc0;
  display: flex;
  flex-direction: column;
  width: 70%;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem;
}

.contact-top {
  /*background: #4f0557;*/
  display: flex;
}

.contact-slogan {
  /*background: #8db375;*/
  display: flex;
}

.contact-bottom {
  /*background: #435ce2;*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info {
  /*background: #267867;*/
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}

.email {
  /*background: #932a0d;*/
  display: flex;
}

.phone {
  /*background: #3b9ae6;*/
  display: flex;
}

.contact-button {
  /*background: #b00f56;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
  flex-grow: 1;
}

.contact-us {
  display: flex;
  width: 9rem;
  font-size: 1.6rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
}
